@import "../../../../../general";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 315px) {
    flex-direction: column;
    gap: 15px;
  }
}

.price {
  font-size: 22px;
  font-weight: 700;
  color: $black_4;
}

.add {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 15px 10px 10px;
  border: 1px solid $orange_2;
  border-radius: 30px;
  color: $orange_2;
  font-size: 16px;
  font-weight: 700;
  transition: .125s ease;

  &:hover {
    cursor: pointer;
    background-color: $orange_1;
    color: $white_1;

    .count {
      color: $orange_1;
      background-color: $white_1;
    }
  }

  &:active {
    position: relative;
    top: 1px;
  }

  @media (max-width: 1024px) {
    background-color: $orange_1;
    color: $white_1;

    &:active {
      position: relative;
      top: 0;
    }
    .count {
      color: $orange_1;
      background-color: $white_1;
    }
  }
}

.count {
  position: relative;
  transition: .125s ease;
  color: $white_1;
  border-radius: 50%;
  background-color: $orange_2;
  width: 20px;
  height: 20px;

  span {
    position: absolute;
    font-size: 14px;
    top: 3px;
    right: 5px;

    @media (max-width: 644px) {
      right: 5.5px;
    }
  }
}