@import "src/general";

.basket {
  @include shadow;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: $white_1;
  background-color: $orange_1;
  padding: 15px 20px;
  border-radius: 30px;

  &:active {
    position: relative;
    top: 1px;
  }
  p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  @media (max-width: 1024px) {
    &:active {
      position: relative;
      top: 0;
    }
  }
  @media (max-width: 768px) {
    position: fixed;
    z-index: 1000;
    right: 25px;

    &:active {
      position: fixed;
      top: 25px;
    }
  }
}