@import "src/general";

.wrapper {
  @include shadow;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: $white_1;
  background-color: $orange_1;
  padding: 15px 20px;
  border-radius: 30px;
  transition: .125s ease;

  &:hover {
    background-color: $orange_4;
  }
  &:active {
    position: relative;
    top: 1px;
    background-color: $orange_5;
  }
  p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  @media (max-width: 1024px) {
    &:hover {
      background-color: $orange_1;
    }
    &:active {
      position: relative;
      top: 0;
    }
  }
  @media (max-width: 768px) {
    position: fixed;
    z-index: 1000;
    right: 25px;

    &:active {
      position: fixed;
      top: 25px;
    }
  }
}