@import "src/general";

.product {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  width: 100%;
  gap: 15px;
  transition: .25s ease;
}

.image {
  @include picture(250px, 250px);
  border-radius: 50%;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  font-weight: 800;
  color: $black_4;
  text-align: center;
}