@import "src/general";

.product {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  width: 100%;
  gap: 15px;
}

.image {
  @include picture(250px, 250px);
  border-radius: 50%;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  font-weight: 800;
  color: $black_4;
  text-align: center;
}

.selectors {
  padding: 7px;
  background-color: $white_4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dough, .size {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  @media (max-width: 315px) {
    flex-direction: column;
  }
}

.item {
  color: $black_2;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.active {
  background-color: $white_1;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  color: $black_2;
  border-radius: 5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 315px) {
    flex-direction: column;
    gap: 15px;
  }
}

.price {
  font-size: 22px;
  font-weight: 700;
  color: $black_4;
}

.add {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 20px 10px 13px;
  border: 1px solid $orange_2;
  border-radius: 30px;
  color: $orange_2;
  font-size: 16px;
  font-weight: 700;
  transition: .125s ease;

  &:hover {
    cursor: pointer;
    background-color: $orange_1;
    color: $white_1;
  }

  &:active {
    position: relative;
    top: 1px;
  }

  @media (max-width: 1024px) {
    &:active {
      position: relative;
      top: 0;
    }
  }
}