@import "general";

.container {
  max-width: 1150px;
  height: 100%;
  margin: 0 auto;
  padding: 25px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.wrapper {
  background-color: $white_1;
  border-radius: 10px;
  padding: 50px;

  @media (max-width: 768px) {
    border-radius: 0;
    height: 100%;
  }
}