$main-background: #FFDF8C;
$white_1: #FFFFFF;
$white_2: #F6F6F6;
$white_3: #F9F9F9;
$white_4: #F3F3F3;
$black_1: #181818;
$black_2: #2C2C2C;
$black_3: #282828;
$black_4: #000000;
$grey_1: #7B7B7B;
$orange_1: #FE5F1E;
$orange_2: #EB5A1E;
$orange_3: rgba(254, 95, 30, 0.05);

@mixin picture($width, $height) {
  max-width: $width;
  width: 100%;
  max-height: $height;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}