@import "~normalize.css";
@import "general";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $main-background;
  font-family: 'Nunito', sans-serif;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $orange_2;
  }

  @media (max-width: 768px) {
    background-color: transparent;
  }
}

#root {
  height: 100%;
}

img {
  display: block;
}

a, button {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  border: unset;
  background-color: transparent;
}